<div class="container">
  <div class="row bundle">
    <div class="large-image">
      <%= cl_image_tag @bundle.photo.url(:showpage), class: "bundle-photo" %>
      <p><%= @bundle.description %></p>
        <% if policy(bundles).update? %>
        <div class="controls">
          <p><%= link_to "Edit Bundle", new_bundle_item_path(@bundle), class: 'btn btn-primary brand-primary' %></p>
        <% end %>
        <% if policy(bundles).destroy? %>
          <p><%= link_to "Delete Bundle", bundle_path(@bundle), method: :delete, class: 'btn btn-primary brand-primary'  %></p>
        <% end %>

          <p><%= link_to "Back to All", bundles_path, class: "btn btn-primary brand-primary" %>

        </div>
    </div>
    <div class="large-description">
      <h1><%= @bundle.name %></h1>
      <div class="icons">
        <p><i class="fas fa-child">&nbsp</i><%= @bundle.age_group %></p>
        <% if @bundle.gender == "Male" %>
          <p><i class="fas fa-mars">&nbsp</i></p>
        <% else %>
          <p><i class="fas fa-venus">&nbsp</i><%= @bundle.gender %></p>
        <% end %>
        <p><i class="fas fa-tshirt">&nbsp</i><%= @bundle.items.length %></p>
        <p><i class="fas fa-dollar-sign">&nbsp</i><%= @bundle.price_per_day %> per night</p>
      </div>
      <div class="bundle_items">
        <% @bundle.items.each do |item| %>
        <ul>
          <li><%= item.color %> <%= item.name %> (<%= item.category %> - <%= item.condition %>)</li>
        </ul>
        <% end %>

      </div>
      <div class="booking-form">
        <%= render 'shared/formbooking' %>
      </div>
    </div>
  </div>
</div>
