<div class="container">
  <div class="col-xs-6 col-xs-offset-3">
    <div class="form">
      <h1 class="text-center"><%= title %></h1>
      <%= simple_form_for @bundle do |f| %>
        <%= f.input :name, required: true, autofocus: true, placeholder: 'Enter bundle name...', label: false, hint: '30 characters maximum' %>
        <%= f.input :gender, required: true, autofocus: true, collection: Bundle.gender %>
        <%= f.input :age_group, required: true, autofocus: true, collection: Bundle.age_groups %>
        <%= f.input :price_per_day, label: "Set a price per day" %>
        <%= f.input :description, required: true, autofocus: true, as: :text, input_html: {rows: 10, cols: 10}, placeholder: "Tell us about your bundle...", label: false  %>
        <%= f.input :photo %>
        <%= f.input :photo_cache, as: :hidden %>
        <%= f.submit "Create New Bundle", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
