<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to bundles_path, class: 'navbar-wagon-brand' do %>
    <%= cl_image_tag("bluepacifier.png") %>
  <% end %>
  <!-- Right Navigation -->
  <div class="navbar-right hidden-xs hidden-sm">
    <p><%= link_to "Home", bundles_path, class: "navbarlink" %></p>
    <% if policy(Booking).show? %>
    <% if user_signed_in? %>
      <p><%= link_to "Bookings", bookings_path, class: "navbarlink" %></p>
    <% end %>
    <% end %>


    <% if user_signed_in? %>
      <% unless current_user.bundles.nil? %>
        <p><%= link_to "My Bundles", mybundles_bundles_path, class: "navbarlink" %></p>
      <% end %>
      <p><%= link_to "Add Bundle", new_bundle_path, class: "navbarlink" %></p>
    <% else %>
      <p><%= link_to "Login",  new_user_session_path, class: "navbarlink" %></p>
    <% end %>

    <!-- Profile picture with dropdown list -->
    <% if user_signed_in? %>
      <div class="navbaritem">
        <div class="dropdown">
          <!-- Load default image if Cloudinary image doesn't exist -->
          <% if current_user.photo.file.nil? %>
            <%= image_tag 'default-avatar-min.jpeg', class: 'avatar dropdown-toggle', id: 'navbar-wagon-menu', data: { toggle: 'dropdown'} %>
          <% else %>
            <%= cl_image_tag current_user.photo, height: 35, width: 35, class: 'avatar dropdown-toggle', id: 'navbar-wagon-menu', data: { toggle: 'dropdown' } %>
          <% end %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li><%= link_to "Home", bundles_path, class: "navbarlink" %></li>
            <% if user_signed_in? %>
              <li><%= link_to "Bookings", bookings_path, class: "navbarlink" %></li>
              <li><%= link_to "Dashboard", bookings_path, class: "navbarlink" %></li>
            <% end %>

            <% if user_signed_in? %>
              <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
            <% end %>
          </ul>
        </div>
      </div>
    <% end %>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><%= link_to "Home", bundles_path, class: "navbarlink" %></li>
        <% if user_signed_in? %>
          <li><%= link_to "Bookings", bookings_path, class: "navbarlink" %></li>
          <li><%= link_to "Dashboard", bookings_path, class: "navbarlink" %></li>
        <% end %>

        <% if user_signed_in? %>
          <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
