<h2><%= title %></h2>
<% bookings.each do |booking| %>
  <div class="table-row">
    <div class="table-img">

      <%#= image_tag "https://ui-avatars.com/api/?name=#{booking.user.first_name}+#{booking.user.last_name}", class: 'avatar' %>
      <% if booking.user.photo.file.nil? %>
        <%= image_tag 'default-avatar-min.jpeg', class: 'avatar' %>
      <% else %>
        <%= cl_image_tag booking.user.photo, height: 35, width: 35, class: 'avatar' %>
      <% end %>
    </div>

    <div class="table-user">
      <p><%= "#{booking.user.first_name} #{booking.user.last_name}" %></p>
    </div>

    <div class="table-email">
      <p><%= booking.user.email %></p>
    </div>

    <div class="table-dates">
      <p><%= booking.start_date.strftime('%a, %b %d %Y') %></p>
      <p><%= booking.end_date.strftime('%a, %b %d %Y') %></p>
    </div>
<!--
    <div class="table-end_date">

    </div>
 -->
    <div class="table-days">
      <p><%= booking.days %></p>
    </div>

    <div class="table-total-price">
      <p>$<%= booking.price_formatted %></p>
    </div>

    <div class="table-approve">
      <% if booking.pending_booking? %>
        <%= link_to 'Approve', approve_booking_path(booking), method: :patch, class: 'booking-approve btn-approve' %>
      <% end %>
    </div>

    <div class="table-deny">
      <% if booking.pending_booking? %>
        <%= link_to 'Deny', deny_booking_path(booking), method: :patch, class: 'booking-deny btn-deny' %>
      <% end %>
    </div>

    <% if booking.current_booking? %>
      <div class="table-status current">
        <p><i class="fas fa-user-check"></i>Current Booking</p>
      </div>
    <% elsif booking.future_booking? %>
      <div class="table-status future">
        <p><i class="fas fa-user-check"></i>Future Booking</p>
      </div>
    <% end %>
  </div>
<% end %>
