<% title 'New Item' %>

<div class=“container”>
 <h1> Add items for <%= @bundle.name %> </h1>

 <h3>Items in the bundle:</h3>
 <ul>
   <% @bundle.items.each do |item| %>
     <li> <%= item.name %>, <%= item.color %>, <%= item.category %>, <%= item.condition %>, </li>
     <% end %>
 </ul>

 <h3>Add an item</h3>
 <%= render 'form' %>
</div>
