<h1> This is the items/new page</h1>

<%= @item.bundle.name %>

<h3>Items in the bundle:</h3>
<ul>
  <% @bundle.items.each do |item| %>
    <li> <%= item.name %>, <%= item.color %>, <%= item.category %>, <%= item.condition %>, </li>
    <% end %>
</ul>

<h3>Add an item</h3>
<%= render 'form' %>
