
<div class= "banner carousel">
  <div class="banner-text centered">
    <h1>Be A Smarty Pants</h1>
    <p>Rent Childrens Clothes for [changing words]</p>
    <%= link_to "Sign Up Today", new_user_registration_path, class: "btn btn-primary" %>
  </div>
  <ul class=panes>
    <li>
      <%= link_to image_tag "babyboy", class: "banner-photos" %>
    </li>

    <li>
      <%= link_to image_tag "boysunshine", class: "banner-photos" %>
    </li>

    <li>
      <%= link_to image_tag "girlflowerdress", class: "banner-photos" %>
    </li>

    <li>
      <%= link_to image_tag "boysuit", class: "banner-photos" %>
    </li>

    <li>
      <%= link_to image_tag "babycostume", class: "banner-photos" %>
    </li>
  </ul>

