<div class= "banner carousel">
  <ul class=panes>

    <li>
      <h2>Pane 01 title</h2>
      <%= link_to image_tag "babyboy", id: "banner-photos" %>
    </li>

    <li>
      <h2>Pane 02 title</h2>
      <%= link_to image_tag "boysunshine", id: "banner-photos" %>
    </li>

    <li>
      <h2>Pane 03 title</h2>
      <%= link_to image_tag "girlflowerdress", id: "banner-photos" %>
    </li>

    <li>
      <h2>Pane 04 title</h2>
      <%= link_to image_tag "boysuit", id: "banner-photos" %>
    </li>

    <li>
      <h2>Pane 05 title</h2>
      <%= link_to image_tag "babycostume", id: "banner-photos" %>
    </li>

  </ul>
</div>
