
<div class= "banner carousel">
  <div class="banner-text centered">
    <h1>Be A Smarty Pants</h1>
    <p>Rent Childrens Clothes for [changing words]</p>
    <% unless user_signed_in? %>
      <%= link_to "Sign Up Today", new_user_registration_path, class: "btn btn-primary" %>
    <% end %>
  </div>
  <ul class=panes>
 <!--    <li>
      <%#= link_to image_tag "babyboy_w1400-min", class: "banner-photos" %>
    </li> -->

    <li>
      <%= link_to image_tag "boysunshine_w1400-min.jpg", class: "banner-photos" %>
    </li>

    <li>
      <%= link_to image_tag "girlflowerdress_w1400-min.jpg", class: "banner-photos" %>
    </li>

    <li>
      <%= link_to image_tag "boysuit-min.jpg", class: "banner-photos" %>
    </li>

    <li>
      <%= link_to image_tag "babycostume_w1400-min.jpg", class: "banner-photos" %>
    </li>
  </ul>
</div>

