
<div class= "banner carousel">
  <div class="banner-text centered">
    <h1>Be A Smarty Pants</h1>
    <p>Rent Children's Clothes, Toys and More!</p>
    <% unless user_signed_in? %>
      <%= link_to "Sign Up Today", new_user_registration_path, class: "btn btn-primary" %>
    <% end %>
  </div>
  <ul class="panes">
   <li class="banner-photos" style="background-image: url(<%= asset_path "marjorie-bertrand-147634-unsplash_w1400-min.jpg" %>")>
    </li>

    <li class="banner-photos" style="background-image: url(<%= asset_path "boysunshine_w1400-min.jpg" %>")>
    </li>

    <li class="banner-photos" style="background-image: url(<%= asset_path "girlflowerdress_w1400-min.jpg" %>")>
    </li>

    <li class="banner-photos" style="background-image: url(<%= asset_path "boysuit-min.jpg" %>")>
    </li>

    <li class="banner-photos" style="background-image: url(<%= asset_path "babycostume_w1400-min.jpg" %>")>
    </li>
  </ul>
</div>

