<div class="container">
    <div class="row">
      <% @bundles.each do |bundle| %>

          <div class="col-xs-6 col-md-3">
            <%= link_to bundle_path(bundle) do %>
            <div class="bundles-card">
              <div class="bundle-image" style="background-image:url(<%= cl_image_path bundle.photo.url(:bundle_card)%>)">

              </div>


                <div class="bundle-description">
                  <h5 class="text-bold"><%= bundle.name %></h5>
                  <div class="icons">
                    <p class="text-bold">
                    <%= bundle.age_group %> &nbsp&nbsp
                    <% if bundle.gender == "Male" %>
                      <p>  <i class="fas fa-mars"></i></p>
                    <% else %>
                      <p>  <i class="fas fa-venus"></i></p>
                    <% end %>
                    </p>
                  </div>
                  <p><i class="fas fa-dollar-sign"> </i><%= bundle.price_per_day_formatted %> / day</p>
                </div>

            </div>
            <% end %>
          </div>

      <% end %>
    </div>
  </div>
</div>
