<% title 'All Bundles' %>
<%= render 'banner' %>

<br>
<div class="container" id="scroll-point">
  <div class="search-container">
    <div class="search-input">
      <%= form_tag bundles_path, method: :get do %>
      <%= text_field_tag :name, params[:name], placeholder: "Find a bundle", class: "form-control" %>
    </div>
    <div class="search-input">
      <%= select_tag :age_group, options_for_select(Bundle.age_groups), prompt: "Select age group", class: "form-control" %>
    </div>
    <div class="search-button">
      <%= submit_tag 'Find Bundles', class: "btn btn-primary" %>
    <% end %>
    </div>
    <div class="search-button">
      <%= link_to 'Clear Search', bundles_path, class: "btn btn-info" %>
    </div>
  </div>
</div>
<br>
<%= render 'shared/list_bundle_cards' %>

<% if @query %>
<script>
  document.getElementById("scroll-point").scrollIntoView();
</script>
<% end %>


