<% title 'All Bundles' %>
<%= render 'banner' %>

<br>
<div class="container" id="scroll-point">
  <div class="search-container">
    <div class="search-input">
      <%= form_tag bundles_path, method: :get do %>
      <%= text_field_tag :name, params[:name], placeholder: "Keyword", class: "form-control" %>
    </div>
    <div class="search-input">
      <%= text_field_tag :age_group, params[:age_group], placeholder: "All age groups", class: "form-control" %>
    </div>
    <div class="search-button">
      <%= submit_tag 'Find Bundles', class: "btn btn-primary" %>
    <% end %>
    </div>
    <div class="search-button">
      <%= link_to 'Clear Search', bundles_path, class: "btn btn-info" %>
    </div>
  </div>
</div>
<br>
<%= render 'shared/list_bundle_cards' %>

<% if @query %>
<script>
  document.getElementById("scroll-point").scrollIntoView();
</script>
<% end %>

