<% title @bundle.name %>

<div class="container">
  <div class="bundle-show-content">
    <div class="bundle-show-image">
      <%= cl_image_tag @bundle.photo.url(:showpage), class: "bundle-photo" %>
      <div class="controls">
        <% if @bundle.user == current_user %>
          <p><%= link_to "Edit Bundle", new_bundle_item_path(@bundle), class: 'spbtn btn-primary brand-primary' %></p>
          <p><%= link_to "Delete Bundle", bundle_path(@bundle), method: :delete, class: 'spbtn btn-primary brand-primary'  %></p>
        <% end %>
      </div>
    </div>
    <div class="bundle-show-info">
      <h1><%= @bundle.name.titleize %></h1>
      <p>
      <% @bundle.average_rating.to_i.times do  %>
        <span class="glyphicon glyphicon-star rating"></span>
      <% end %>
      <% @bundle.blank_stars.to_i.times do %>
        <span class="glyphicon glyphicon-star-empty rating"></span>
      <% end %>
      (<%= @bundle.number_of_reviews %>)
      </p>
      <div class="bundle-categories">
        <% if @bundle.gender == "Male" %>
          <p class="bundle-gender-icon"><i class="fas fa-mars"></i></p>
        <% else %>
          <p class="bundle-gender-icon"><i class="fas fa-venus"></i></p>
        <% end %>
        <p class="bundle-gender"><%= @bundle.gender %></p>
        <p class="bundle-number-items-icon"><i class="fas fa-tshirt"></i></p>
        <p class="bundle-number-items"><%= @bundle.items.length %></p>
      </div>

      <p><%= @bundle.description %></p>
      <p><i class="fas fa-dollar-sign"></i>&nbsp<strong><%= @bundle.price_per_day_formatted %> / day</strong></p>
      <hr>
      <h3>Included Items</h3>
      <div class="bundle-item-list">
        <% @bundle.items.each do |item| %>
          <p class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="<%= "#{item.color}\n#{item.condition}\n#{item.category}" %>">
            <%= item.name %>
          </p>
        <% end %>
      </div>
    </div>
  </div>
  <div class="text-right">
    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">
      Book this Bundle
    </button>
  </div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Request <%= @bundle.name %> </h4>
      </div>
      <div class="modal-body">
        <div class="booking-form">
          <%= render 'shared/formbooking' %>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'reviews/show' %>
